name: Terraform Exporter Release

# This GitHub action creates a release when a tag that matches the pattern
# "v*" (e.g. v0.1.0) is created.
on:
  push:
    tags:
      - 'v*'

# Releases need permissions to read and write the repository contents.
# GitHub considers creating releases and uploading assets as writing contents.
permissions:
  contents: write
  issues: write

jobs:
  call-workflow-test:
    uses: ./.github/workflows/test.yml
    secrets: inherit
  call-workflow-integration-test:
    uses: ./.github/workflows/integration-test.yml
    secrets: inherit
    permissions:
      contents: read
      issues: write
  goreleaser:
    runs-on: ubuntu-latest
    needs:
      - call-workflow-test
      - call-workflow-integration-test
    steps:
      - uses: actions/checkout@v4
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: 2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  generate-gh-pages:
      uses: ./.github/workflows/create-gh-page.yml
      secrets: inherit
      permissions:
        contents: write
      needs:
        - goreleaser
